@font-face {
    font-family: "Clono";
    src: url('fonts/70404053-Clono-dos.eot');
    src: url('fonts/70404053-Clono-dos.eot?#iefix') format('embedded-opentype'),
        url('fonts/70404053-Clono-dos.svg#Clono dos') format('svg'),
        url('fonts/70404053-Clono-dos.woff') format('woff'),
        url('fonts/70404053-Clono-dos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Yanone";
    src: url('fonts/98724366-YanoneKaffeesatz-Regular.eot');
    src: url('fonts/98724366-YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/98724366-YanoneKaffeesatz-Regular.svg#Yanone Kaffeesatz') format('svg'),
        url('fonts/98724366-YanoneKaffeesatz-Regular.woff') format('woff'),
        url('fonts/98724366-YanoneKaffeesatz-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "Yanone";
    color: #ca6686;
    background-image: url(/images/bg-estrellas.png);
    background-position: 0px 0px;
    background-repeat: repeat;
    background-color: #143c77;
    overflow-x: hidden;
}
body.rosa{ background-color: #ca6686; background-image: url(/images/bg-estrellas-blue.png); }
body.rosa .title_web{color: #143c77 !important;}
body.rosa .player{border: 6px solid #143c77 !important;}
body.rosa .player .title{background: #143c77 !important;}
body.rosa .prox_fecha .wrap_prox_fecha{background: #143c77 !important; color: #ca6686 !important;}
body.rosa .footer-degrad{ background-image: url(/images/footer-degrad-azul.png) !important; }
body.rosa .prox_fecha .datos_fecha{ /*background: #112139;*/ }
body.rosa .clonoluchas #cr-stage{ border-color: #143c77; }

.clearfix{clear: both;}

.body_wrap{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px 0px 20px;
}

.title_web{
    font-family: "Clono";
    font-size: 130px;
    text-align: center;
    margin-top: 10px;
    min-width: 312px;
}

.subtitle_web{
    font-size: 35px;
    text-align: center;
    color: #eac0d2;
}
.player{
    margin: 20px 70px 20px 0;
    float:left;
    width: 300px;
    text-align: center;
    color: #eac0d2;
    border: 6px solid #ca6686;
}
.player .title{
    background: #ca6686;
    font-size: 27px;
    color: #f0dae1;
    min-height: 20px;
    padding-bottom: 10px;
}

.prox_fecha{
    width: 270px;
    /*height: 270px;*/
    margin: 35px 0 20px 0;
    float:right;
    font-size: 37px;
    position: relative;
    color: #143c77;
    text-align: center;
}
    .prox_fecha .wrap_prox_fecha{
        background: #ca6686;
        width: 270px;
        padding: 30px 10px 40px 10px;
        border-radius: 200px;
    }
    .prox_fecha .datos_fecha{
        /*padding: 15px;*/
        margin: 10px 0 0 0;
        /*background: #b0496a;*/
        color: #f0dae1;
    }
        .prox_fecha .datos_fecha .fecha_lugar{
            font-size: 23px;
			margin: 15px 0 0 0;
        }
        .prox_fecha .datos_fecha .clono{
            font-family: "Clono";
            font-size: 40px;
        }
        .prox_fecha .datos_fecha .bandas{
            font-size: 35px;
        }
    ul.social{
        margin: 20px auto 0 auto;
        width: 192px;
        height: 74px;
    }
        ul.social li{
            float: left;
            margin: 0 5px;
            width: 54px;
            height: 54px;
            background-color: #ca6786;
            border-radius: 54px;
        }
            ul.social li:hover{
                background-color: #a41c42;
            }
            ul.social li div{
                width: 54px;
                height: 54px;
                background-position: center;
                background-repeat: no-repeat;
            }
            ul.social li.fb div{ background-image: url(/images/social-fb.png)}
            ul.social li.tw div{ background-image: url(/images/social-tw.png)}
            ul.social li.bc div{ background-image: url(/images/social-bc.png)}

.clonoluchas{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -205px;
    margin-left: -300px;
}
.clonoluchas .close_clonoluchas{
    position: absolute;
    top: 27px;
    right: 0;
    border-radius: 15px;
    background-color: #ca6786;
    color: #143c77;
    padding: 3px 5px;
    cursor: pointer;
}
.btn_clonoluchas{
    background-image: url(/images/btn-clonoluchas.png);
    width: 100px;
    height: 95px;
    float: right;
    cursor: pointer;
}
.desactivado{opacity: 0.4;}
.footer-degrad{
    background-image: url(/images/footer-degrad-rosa.png);
    background-repeat: repeat-x;
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -2;
}

/* contendero de las clonoluchas */
#cr-stage{
    
    border: 10px solid;
    margin: auto;
    margin-top: 50px;
    clear: both;
    background-image: url('/clonoluchas/sprites/background.jpg');
    
}

@media screen and (max-width: 750px) {
    .title_web{
        font-size: 52px !important;
    }
    .player{
        float: none !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .prox_fecha{
        float: none !important;
        margin-top: 60px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .clonoluchas{
        display: none;
        margin-top: 15px;
    }
    .btn_clonoluchas{
        display: none !important; 
    }
}

#meteor {
    z-index: 60; 
    position: absolute;
    top: 70px;
    left: 44%; 
    width: 40px; 
    height: 40px; 
    display: block; 
    color: #abc123;
}

#meteor2 {
    z-index: 60; 
    position: absolute;
    top: 80px;
    left: 44%; 
    width: 20px; 
    height: 20px; 
    display: block; 
    color: #abc123;
}